.carousel{
    height: 900px;
     perspective: 600px;
     
}
.carousel .carousel-item{
    width: 300px;
}
.productsCrow{
    margin-top: -200px;
}
.heading{
    text-align: center;
    
}
.heading h1{
    margin-top: 200px;
}

/* slider */

.rewardscaro{
    margin-left: -200px;
}







@media only screen and (max-width:600px){

    .carousel{
        height: 900px;
         perspective: 600px;
         
    
    }
    .carousel .carousel-item{
        width: 200px;
    }

    .rewardscaro{
        margin-left: -24px;
    }
    
    

}
